.table {
    height: 600px;
    width: 400px;
    margin: 40px auto 0;

}
 table ,tr,td {
     border: 1px solid #000;
     border-collapse: collapse;
 }

 table td {
     padding: 0 20px;
 }
 th {
   text-align: left;
 }